@model List<PRN222.DAL.Models.NewsArticle>

@{
    ViewData["Title"] = "ManageNewsArticle";
}

<h2>Quản lý bài viết</h2>

<div class="text-right mb-3">
    <a asp-controller="Staff" asp-action="CreateCategory" class="btn btn-primary">Tạo mới bài viết</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Nội dung</th>
            <th>Danh mục</th>
            <th>Nguồn</th>
            <th>Ngày đăng bài</th>
            <th>Đăng bởi</th>
            <th>Cập nhật ngày</th>
            <th>Cập nhật bởi</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NewsTitle</td>
                <td>@item.NewsContent</td>
                <td>@item.Category?.CategoryName</td>
                <td>@item.NewsSource</td>
                <td>@item.CreatedDate</td>
                <td>@item.CreatedBy?.AccountName</td>
                <td>@item.ModifiedDate</td>
                <td>@item.CreatedBy?.AccountName</td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-controller="Staff" asp-action="EditCategory" asp-route-id="@item.NewsArticleId" class="btn btn-primary">Chỉnh sửa</a>
                        <a asp-controller="Staff" asp-action="DeleteCategory" asp-route-id="@item.NewsArticleId" class="btn btn-danger">Xóa</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
