@model List<PRN222.DAL.Models.NewsArticle>

@{
    ViewData["Title"] = "NewsPage";
}

<div class="text-right mb-3">
    <a asp-controller="SystemAccount" asp-action="Login" class="btn btn-primary">Login</a>
</div>

<h3>FPT News</h3>

<table class="table">
<thead>
    <tr>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Danh mục</th>
        <th>Nguồn</th>
        <th>Ngày đăng bài</th>
        <th>Đăng bởi</th>
        <th>Cập nhật ngày</th>
        <th>Cập nhật bởi</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.NewsTitle</td>
            <td>@item.NewsContent</td>
            <td>@item.Category?.CategoryName</td>
            <td>@item.NewsSource</td>
            <td>@item.CreatedDate</td>
            <td>@item.CreatedBy?.AccountName</td>
            <td>@item.ModifiedDate</td>
            <td>@item.CreatedBy?.AccountName</td>
        </tr>
    }
</tbody>
</table>
